@model UnrealReplayServer.Databases.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Changelist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Changelist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformFriendlyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformFriendlyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDemoTimeMs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDemoTimeMs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUploadedBytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUploadedBytes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalChunks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalChunks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
