@model UnrealReplayServer.Databases.Models.SessionFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SessionFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTimeMs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTimeMs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimeMs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimeMs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChunkIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChunkIndex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Filename">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
